*{
    padding:0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    font-family: serif;
    position: relative;
}

nav{
    position: fixed;
    width: 100%;
    height: 5vh;
    background-color: #6f38887a;
    z-index: 9999;
}

.navegacion{
    display: flex;
    gap: 10px;
    justify-content: right;
    margin-right: 1vw;
}

.navegacion li{
    margin-top: 1.5vh;
    list-style-type: none;
    padding: 1wv;
}

.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.navegacion li:hover{
    background-color: #cabdd07a;
    border-radius: 5px;
}

.regresar{
    position: fixed;
    background-color: #7d4f919c;
    height: 4vh;
    width: 8vw;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    left: 8vw;
    top: 6vh;
}

.regresar p{
    color: white;
}

.regresar:hover{
    background-color: #bca2c79c;
}

.marcador{
    top: 0;
    position: fixed;
    left: 5vh;
}

.teatro{
    position: fixed;
    color: white;
    left: 8.5vw;
    top: 2%;
    font-size: 13px;
}

.intro{
    height: 789px;
    width: 100%;
    background-image: url(img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    position: absolute;
    color: white;
    width: 45%;
    top: 33vh;
    left: 7vw;
}

.titulo{  
    font-size: 80px;
    margin-left: -2.2vw;
}

.sub{
    font-size: 38px;
}

.texti{
    margin-top: 2vh;
}

.sp{
    width: 90%;
    height: 560px;
    align-items: center;
    margin: auto;
    margin-top: -20vh;
    display: flex;
}

.cb{
    background-color: #d9d9d9;
    width: 75%;
    height: 560px;
}

.cm{
    background-color: #411f50;
    height: 700px;
    width: 25%;
    border-radius: 0 0 30px 30px;
    margin-top: 19.1vh;
}

.t1{
    background-color:#411f50;
    position: absolute;
    width: 25%;
    left: 0;
    text-align: right;
    height: 7vh;
    border-radius: 0 7px 7px 0;
    margin-top: 4vh;
}

h4{
    margin: 1.5vh 2vw 0 2vw;
    font-size: 25px;
    color: white;
}

.text1{
    margin: 110px 75px;
    color: black;
    text-align: justify;
}

.ele{
    text-align: center;
}

.elenco{
    color: white;
    list-style-type: none;
    margin: 20px;
    font-size: 20px;
}

.elenco li{
    margin-left: 1.5vw;
}

.pc{
    color: white;
    margin: 20px;
    text-align: justify;
}

.pct{
    text-align: center;
    margin-top: 5vh;
}

.foto1{
    background-image: url(img/fondo2.png);
    height: 774px;
    width: 100%;
    margin-top: -14vh;
}

.cb2{
    background-color: #d9d9d9;
    width: 90%;
    height: 1081px;
    align-items: center;
    margin: auto;
    z-index: 8000;
}

.te{
    display: flex;
}

.tei{
    width: 65%;
}

.ted{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.f1{
    transform: scale(0.9);
    margin-top: 2vh;
}

.f2{
    transform: scale(0.9);
    margin-top: 8vh;
}

.text2{
    margin: 110px 30px 60px 90px;
    color: black;
    text-align: justify;
}

.separador{
    display: flex;
    justify-content: center;
    align-items: center;
}

.t2{
    background-color:#411f50;
    position: absolute;
    width: 25%;
    right: 0;
    text-align: left;
    height: 7vh;
    border-radius: 7px 0 0 7px;
    margin-top: 4vh;
}

.ev{
    display: flex;
}

.evi{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.evd{
    width: 65%;
}

.text3{
    margin: 110px 90px 60px 30px;
    color: black;
    text-align: justify;
}

.foto2{
    background-image: url(img/fondo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 774px;
    width: 100%;
    margin-top: -14vh;
    z-index: -1;
    position: relative;
}

.bc{
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    gap: 80px;
    margin-top: -5vh;
}

.contacto{
    padding: 8px;
    border: solid white;
    border-radius: 10px;
}

.cont{
    margin-top: -0.5vh;
}

a{
    text-decoration: none;
    color: white;
}

.contacto:hover{
    background-color: #7d4f919c;
    transform: scale(1.1);
    border:#7d4f919c;
}

.boleto:hover{
    transform: scale(1.02);
}

.aviso{
    color: white;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: -2vh;
}

footer{
    height: 62px; 
    width:100%;
    background-color: #411f50;
    margin-top:6vh;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

footer p{
    margin-top: 2.5vh;
}

footer::after{
    content: "";
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.593), transparent);
    top: 0;
    width: 100%;
    height: 15px;
}